google-generativeai
langchain
faiss-cpu
langchain-google-genai
pandas
matplotlib
Pillow
python-dotenv
yfinance
scikit-learn
yahoo_fin
tensorflow
keras
langchain-core
pillow
datetime
numpy
PyPDF2
firebase-admin
httpx-oauth
asyncio
