.chat-row {
  display: flex;
  margin: 5px;
  width: 100%;
}

.row-reverse {
  flex-direction: row-reverse;
}

.chat-bubble {
  font-family: "Source Sans Pro", sans-serif, "Segoe UI", "Roboto", sans-serif;
  border: 1px solid transparent;
  padding: 5px 10px;
  margin: 0px 7px;
  max-width: 70%;
}

.ai-bubble {
  background: #1E1E1E; /* Dark Gray */
  color: #FFFFFF; /* White Text */
  border-radius: 10px;
  border: 1px solid #333333; /* Subtle Border */
  padding: 10px 15px; /* Add Padding for Better Spacing */
}

.human-bubble {
  background: linear-gradient(135deg, #FF4B4B 0%, #D83A3A 100%); /* Red Gradient */
  color: white; /* White Text */
  border-radius: 20px;
  padding: 10px 15px; /* Add Padding for Better Spacing */
  border: none; /* Remove Border */
}

.chat-icon {
  border-radius: 5px;
}